<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFmepgXcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FFmpegMakefile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4448A07618F4E94600F78A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4448A08318F4E95600F78A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4448B21918F4F04300F78A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4448B83218F4F49F00F78A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
